<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add" method="GET">
        <table border="2">
            <tr>
                <td>Number</td>
                <td><input type="text" name="n1"></td>
            </tr>
            <tr>
                <td>Number</td>
                <td><input type=text name="n2"></td>
            </tr>
            <tr>
                <td><input type=submit ></td>
            </tr>
        </table>
    </form>
</body>
</html>